
html, .todo, .clear-form, .content, .list, .container{height:100%;}
.header{
	margin:0px;
}
body {
  width:100%;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.container{
	width:90%;
}
.block {
   width: 50%;
   float: right;
   height: 0;
   padding-bottom: 40%;

   p{
   	display: inline-block;
   	width:100%;
   	height:100%;
   	margin:auto;
   	text-align: center;
   	vertical-align: bottom;
   	color:white;
   	font-size:3.3vmin;
   	font-weight: bold;
   	padding-top:20%	;
   }

}
hr{
	border: 2px solid #428bca !important;
}
.one { background: lightgreen; border-top-left-radius: 10px; }
.two { background: lightblue; border-top-right-radius: 10px; }
.three { background: orange; border-bottom-right-radius: 10px; }
.four { background: red; border-bottom-left-radius: 10px; }

.infos{

	width:45%;
	float:left;
	position: inline-block;

		.block {
		   width: 50%;
		   float: right;
		   height: 0;
		   padding-bottom: 0%;
		}

}
#items, #incomplete, #completed{

	padding:10px;
	color:white;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-top:15px;
	padding-bottom:15px;
}

#items{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: lightgreen;
}

#incomplete{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: red;
}

#completed{
	background-color: lightblue;
}

.options{
  padding:15px;
	width:36%;
	float:right;
	position: inline-block;
	border-radius: 10px;

	.block{
		width:50%;
	}

}

.block:hover{
  box-shadow: 0 0 30px #428bca;
  -webkit-box-shadow: 0 0 30px #428bca;
 
  p{
  	color: #428bca;
   }
}

.list-item, .list{
	display: inline-block;
	width:100%;
}

.item{
	padding:10px;
	border: solid #428bca 10px;
	display: inline-block;
	height:auto;
	width:100%;
  margin-top:10px; 
}

.signin{
  width:60%;
  margin:auto;
  border: solid #428bca 10px;
  padding:30px;
  text-align:center;


}
.margin{
  margin-top:3px;
  margin-bottom:3px;
}
#check{
  float:left;
  text-align:left;
}

.title-description{
  color:white;
  margin:0px !important;
  padding:0px !important;
   h1, h3{
    color: #428bca !important;
    -webkit-text-fill-color: #428bca !important; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: #428bca !important;
   }
}

.no-lists{
  width:100%;
  height:60%;
  border: solid #428bca 10px;
  display:inline-block;
  margin:auto;
  
  .tile-large{
  position: relative;
 
  }
  .thumbnail{
     width:40% !important;
     height:40% !important;     
     margin-left: 30%;
     margin-right: 30%;
     img{
     width:inherit;
     padding:20px;
     }
  }
  .tile-blue{
  opacity:1 !important;
  background-color: #428bca !important;
}
  .tile-blue:hover{
  opacity:0.8 !important;
}

}
#no-lists-header{
  text-align:center;
}

.alert-small{
  margin:1px !important;
  padding:1px !important;
  h3{
    line-height:10px !important;
    }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.flash{
font-size:2.5vmin;
  border: none;
  color: white;
}

.success{
  background-color: #428bca; 
}

.notice{
  background-color: #2ecc71;
}

.create h2{
  color:  #428bca;
}
.create-button{
  width:49% !important;
}

#hr-small{
padding:0px;  
margin:0px;
margin-top:8px;
}

@media screen and (min-width: 600px) {

    .options{
      padding:40px;
      padding-top:12px;
      width:42%;
    }
  
    .item, .list{
    
      padding-bottom:5px;
    }

}

@media screen and (max-width: 800px) {

    .infos, .options{
      text-align: center;
      width:90%;
      float:none;
      margin:auto;
      margin-top:10px;
      margin-bottom: 10px;
    }
    
    #items, #incomplete, #completed{
      padding:5px;
}
    .options{
      margin:auto;
      padding:5%;
      margin-top:20px;
      padding-top:0px;

      .block{
        line-height: 30px;
        width:50%;
      }
    }
   .container, .content{
      width:100% !important;
      padding:0px !important;
      margin:0px !important;
    }
    .item, .list{
      width:100%;
      padding:0px;
      padding-bottom:5px;
    }
     .signin{
     padding:8px;
       width:100%;
      }

}