
* {
    box-sizing: border-box;
}
html, form, .todo, .clear-form, .content, .list, .container{height:100%;}

body {
  width:100%;
  height: 100%;
  margin: 0;

  font-family: 'Lato', sans-serif;
}

.block {
   width: 50%;
   float: right;
   height: 0;
   padding-bottom: 40%;

   p{
   	display: inline-block;
   	width:100%;
   	height:100%;
   	margin:auto;
   	text-align: center;
   	vertical-align: bottom;
   	color:white;
   line-height: 50px;
   }
}

.one { background: lightgreen; border-top-left-radius: 10px;
}
.two { background: lightblue; border-top-right-radius: 10px;}
.three { background: orange; border-bottom-right-radius: 10px;}
.four { background: red; border-bottom-left-radius: 10px;}

.infos{

	width:62%;
	float:left;
	position: inline-block;

		.block {
		   width: 50%;
		   float: right;
		   height: 0;
		   padding-bottom: 0%;
		}

}

.options{
	width:38%;
	float:right;
	position: inline-block;
	border-radius: 10px;
}

.list-item{
	margin-top:10px;
	margin-bottom:10px;
	height:25% !important;
	border:10px solid white;
}

.list-item, .list{
	display: inline-block;
	width:100%;
}
.item{
	padding:10px;
	border: solid #428bca 10px;
	display: inline-block;
	height:auto;
	width:100%;

}
.alert{

	width:auto !important;
}